
<!DOCTYPE html>
<html>
<head>
    <title>Course Grades</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/allGrades.css">
    
</head>
<body>
		<header>
		<a href="home">CSCB20 WINTER 2019</a>

		
		<br>

		<!--nav links-->
		<nav>
			<a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
		    <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
		    <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> <br>
		    <a href="CWork">Course Work</a> |
		    <a href="Ohour">Office/Tutorials Times</a> |
		    <a href="instructor">Instructor</a> |
			<a href="logout">Logout From {{ name }}</a>
		</nav>
	</header>
	<br>
	<br>
	<div class ="masterWrap">
	<div class="info-container" id="grades">Course Grades</div>
	<form method="POST">


	<!--col names-->

	<div id = "table">
		<P>Username</P><P>Quiz 1</P><P>Quiz 2</P><P>Quiz 3</P><P>Quiz 4</P>
		<P>Assign. 1</P><P>Assign. 2</P><P>Assign. 3</P><P>Midterm</P><P>Final</P>
	</div>
	{%for i in data%}
			<div id = "table">

					<input type=button value="{{i['username']}}"><!--"name-q1"-->
					<input name="{{i['username']}} 0" type="number" value="{{i['q1']}}">
					<input name="{{i['username']}} 1" type="number" value="{{i['q2']}}">
					<input name="{{i['username']}} 2"type="number" value="{{i['q3']}}">
					<input name="{{i['username']}} 3" type="number" value="{{i['q4']}}">
					<input name="{{i['username']}} 4" type="number" value="{{i['a1']}}">
					<input name="{{i['username']}} 5" type="number" value="{{i['a2']}}">
					<input name="{{i['username']}} 6"type="number" value="{{i['a3']}}">
					<input name="{{i['username']}} 7"type="number" value="{{i['midterm']}}">
					<input name="{{i['username']}} 8"type="number" value="{{i['final']}}">

			</div>
	{%endfor%}
	<div id="table">
			<input type="submit" id="submits" value="Apply">
	</div>
	<input type="number" id="submits" value="Apply">
	</form>
    </div>
    
</body>
    <footer>
		<a href="https://www.utsc.utoronto.ca/cms/faculty"target="_blank">UTSC CMS Faculty</a>
		<br>
		Site Designed by Jefferson Li , Muhes Ariya
    </footer>
</html>