<!DOCTYPE html>
<html>

<head>
    <title>Student Grades</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
</head>

<body>
   	<header>
		<a href="home">CSCB20 WINTER 2019</a>

		
		<br>

		<!--nav links-->
		<nav>
			<a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
		    <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
		    <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> <br>
		    <a href="CWork">Course Work</a> |
		    <a href="Ohour">Office/Tutorials Times</a> |
		    <a href="instructor">Instructor</a> |
			<a href="logout">Logout From {{ name }}</a>
		</nav>
	</header>
    <br>
    <br>
    <div class="masterWrap">
        <div class="info-container" id="grades">Grades for {{ name }}</div>
        <div class="info-container">
                
            <!--exams-->
            <div class="masterWrap" id="examMark">
                <p id="grades">Exams</p>
                <form method="GET">	
                <p>Midterm - {{data['midterm']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request " name=Final></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Final - {{data['final']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request " name=Midterm></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
            </form>
            </div>
   
            <div class="masterWrap" id="quizMark">
                <!--quizes-->
                <p id="grades">Quizes</p>
                <form method="GET">	
                <p>Quiz 1 - {{data['q1']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Quiz 1"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Quiz 2 - {{data['q2']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Quiz 2"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Quiz 3 - {{data['q3']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Quiz 3"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Quiz 4 - {{data['q4']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Quiz 4"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                </form>
            </div>

            <div class="masterWrap" id="assignmentMarks">
                <!--assignents-->
            <p id="grades">Assignments</p>
            <form method="GET">	
                <p>Assignment 1 - {{data['a1']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Assignment 1"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Assignment 2 - {{data['a2']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Assignment 2"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
                <p>Assignment 3 - {{data['a3']}}%</p>
                <p>
                <textarea cols="1" rows="1" placeholder="Enter Q1 Remark Request "name="Assignment 3"></textarea>
                <input id="remark" type=submit value="Submit Remark Request">
                </p>
            </form>
            </div>
        </div>
    </div>

</body>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty" target="_blank">UTSC CMS Faculty</a>
    <br>
    Site Designed by Jefferson Li , Muhes Ariya
</footer>
<script src="../../static/js/studentsGrades.js"></script>

</html>