#table{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#table input{
    margin: 3px;
    width: 7%;
    min-width: 87px;
    height: 30px; 
}
#table p {
    background-color: white;
    margin: 3px;
    width: 6.8%;
    min-width: 85px;
    height: 30px; 
    border: black solid 3px;
}

