@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	background-image: url('../assets/Background.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-blend-mode: screen;
}
.container{
	display: flex;
	justify-content: center;
}


.loginBlock{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	margin-top: 3%;
	padding: 30px;
	width:50%;
	margin-left: 25%;
	margin-right: 25%; 
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.55);
}
header{
	font-size: 200%;
	color: white;
}
.loginBlock header{
	font-size: 240%;
	color : white;
}
input{
	width:400px;
    height: 25px;
    padding:7px; 
    margin:5px; 

    border: 2px solid aliceblue;
    background-color: aliceblue;
    font-size: 16px;
}
.pulldown{
	width:200px;

}
input[type='submit'],input[type='button']{
	height:40px; 
	width:100px;
	background: white;
}

.popUpReg { 
	display: none;
	font-family: 'Montserrat', sans-serif;
	position:fixed;
	flex-direction: column;
	align-items: center;
	top:0;
    width: 45%;
	height: 70%;
	margin-top: 2%;

	background-color: rgba(0, 0, 0, 0.90);
}
#close{
	background: white;
	outline:none;
	width: 50px;
	height: 50px;
	align-self: flex-end;
	padding: 15px;
	
}
.popUpReg .info {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.popUpReg .info input{margin: 1%;}

.userType select{
	width: 150px;
	height: 30px;	
}


a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
	color: #313335;
	background-color: white;
}
/*mobile styling*/
@media only screen and (max-device-width: 480px){
	.loginBlock{
		width: 90%;
		height: 90%;
		font-size: 3em;
	}
	header{
		font-size: 400%;
		color: white;
	}
	.loginBlock header{
		font-size: 240%;
		color : white;
	}
	input{
		width:400px;
		height: 100px;
		padding:7px; 
		margin:5px; 
	}
	input[type='submit'],input[type='button']{
		height:50px; 
		width:300px;
		background: white;
	}

}