@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*background image*/
body{
	background-image: url('Background.png');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-blend-mode: screen;

}

/*the header + nav links*/
header{
	position: fixed;
	display: block;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	width: 99%;
	color: white;
	background-color: rgba(0, 0, 0, 0.55);
}
header nav{
	display: block;
	font-size: .6em;
}
a:link{
	text-decoration: none;
	color: white;
}
a:visited{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: none;
	color: #313335;
	background-color: white;
}
/*info boxes and custom link styling*/
.masterWrap{
	display: flex;
	flex-direction: column;

	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
}
.info-container{
	display: flex;
	flex-wrap: wrap;
	font-family: 'Montserrat', sans-serif;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
}
.info-container div{
	width: 35%;
	margin: 10px;
	padding: 10px;
	padding-top: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align: left;
	color: white;
	
}
.info-container p{
	text-align: left;
	color: white;

}


.info-container div a:link{
	text-decoration: none;
	color:#87CEFA;
}
.info-container div a:visited{
	text-decoration: none;
	color: #87CEFA;
}
.info-container div a:hover{
	text-decoration: underline;
	color: black;
}
.info-container div img{
	width: 80%;
	height: 90%;
}

/*google form anon feedback styling*/
#form{
	margin-top: 110px;
	text-align: center;
}

footer{
	display: block;
	text-align: center;
	bottom: 0;
	font-family: 'Montserrat', sans-serif;
	color: white;
	width: 99%;
	height: 0px;
	padding-top: 2%;
}

/*click here for grades stuff*/
#grades{
	display: flex;
	padding: 1%;
	border: red solid 2px;
	font-size: 2em;
}
/*feed back list for instructors*/

#feedbacks{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#feedbacks p {
	display: flex;
	padding: 2%;
	margin: 20px;
	width: 30%;
	color:white;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: 'Montserrat', sans-serif;
}

/*tables for student marks*/
table,th,td{
	border: grey 2px solid;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: 'Montserrat', sans-serif;
}
table input,th input,td input{
	width: 25px;
}
#applyChanges{
	width: 10%;
	height: 7%;
	color: black;

}



/*mobile styling*/
@media only screen and (max-device-width: 480px){
	header{font-size: 3em;}
	header nav{font-size: 1.4em;padding-top: 4%}
	.masterWrap{
		display: block;
		margin-top: 45%;
	}
	.info-container{
		display: block;
		width: 99%;
		text-align: center;
		
	}
	.info-container div{
		width: 99%;
		padding-top: .4%;
		text-align: center;
		font-size: 1.3em;
	}
	.info-container div img{
	width: 120%;
	height: 110%;
	}

	footer{
		font-size: 2.4em;
	}
	#form{
	margin-top: 500px;
	text-align: center;
	}
}