
<!DOCTYPE html>
<html>
<head>
    <title>Course Grades</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    
</head>
<body onload="loadGrades()">
		<header>
		<a href="home">CSCB20 WINTER 2019</a>

		
		<br>

		<!--nav links-->
		<nav>
			<a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
		    <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
		    <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> <br>
		    <a href="CWork">Course Work</a> |
		    <a href="Ohour">Office/Tutorials Times</a> |
		    <a href="instructor">Instructor</a> |
			<a href="logout">Logout From {{ name }}</a>
		</nav>
	</header>
	<br>
	<br>
	<div class ="masterWrap" >
	<div class="info-container" id="grades" style="border: none;color:white;">Course Grades</div>
		
    <table id="tables">
        <tr>
            <th>Username</th><th>Quiz 1</th><th>Quiz 2</th><th>Quiz 3</th><th>Quiz 4</th>
            <th>Assignment 1</th><th>Assignment 2</th><th>Assignment 3</th>
            <th>Midterm</th><th>Final Exam</th>
        </tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	<form method="POST">
	{%for i in data%}
		<tr>
			
			<th>{{i['username']}}</div></th><!--"name-q1"-->
			<th><input name="{{i['username']}} 0" type="number" value="{{i['q1']}}" ></th>
			<th><input name="{{i['username']}} 1" type="number" value="{{i['q2']}}"></th>
			<th><input name="{{i['username']}} 2"type="number" value="{{i['q3']}}"></th>
			<th><input name="{{i['username']}} 3" type="number" value="{{i['q4']}}"></th>
			<th><input name="{{i['username']}} 4" type="number" value="{{i['a1']}}"></th>
			<th><input name="{{i['username']}} 5" type="number" value="{{i['a2']}}"></th>
			<th><input name="{{i['username']}} 6"type="number" value="{{i['a3']}}"></th>
			<th><input name="{{i['username']}} 7"type="number" value="{{i['midterm']}}"></th>
			<th><input name="{{i['username']}} 8"type="number" value="{{i['final']}}"></th>
        </tr>
	{%endfor%}
		<input type="submit" id="submits" value="Apply Changes">
	</form>
	</table>
    </div>
    
</body>
    <footer>
		<a href="https://www.utsc.utoronto.ca/cms/faculty"target="_blank">UTSC CMS Faculty</a>
		<br>
		Site Designed by Jefferson Li , Muhes Ariya
    </footer>
    <script src="../../static/js/instructorFB.js"></script>
</html>