
<!DOCTYPE html>
<html>
<head>
    <title>Course Grades</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    
</head>
<body onload="loadGrades()">
		<header>
		<a href="home">CSCB20 WINTER 2019</a>

		
		<br>

		<!--nav links-->
		<nav>
			<a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
		    <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
		    <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> <br>
		    <a href="CWork">Course Work</a> |
		    <a href="Ohour">Office/Tutorials Times</a> |
		    <a href="instructor">Instructor</a> |
			<a href="logout">Logout From {{ name }}</a>
		</nav>
	</header>
	<br>
	<br>
	<div class ="masterWrap" >
        <div class="info-container" id="grades" style="border: none;color:white;">Course Grades</div>
    <table id="tables">
        <tr>
            <th>Student Number</th><th>Quiz 1</th><th>Quiz 2</th><th>Quiz 3</th><th>Quiz 4</th>
            <th>Assignment 1</th><th>Assignment 2</th><th>Assignment 3</th>
            <th>Midterm</th><th>Final Exam</th>
        </tr>
        <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>

	{%for i in data%}
		<tr>
			<th>{{i['studentNumber']}}</th><th>{{i['q1']}}</th><th>{{i['q2']}}</th>
			<th>{{i['q3']}}</th><th>{{i['q4']}}</th>
            <th>{{i['a1']}}</th><th>{{i['a2']}}</th><th>{{i['a3']}}</th>
            <th>{{i['midterm']}}</th><th>{{i['final']}}</th>
        </tr>
	{%endfor%}
	</table>

        <input type="submit" id="applyChanges" value="Apply Changes" style="background: white;">
    </div>
    
</body>
    <footer>
		<a href="https://www.utsc.utoronto.ca/cms/faculty"target="_blank">UTSC CMS Faculty</a>
		<br>
		Site Designed by Jefferson Li , Muhes Ariya
    </footer>
    <script src="../static/js/instructorFB.js"></script>
</html>