<!DOCTYPE html>
<html>

<head>
    <title>Student Grades</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body onload="loadGrades()">
    <header>
        <a href="home.html">CSCB20 WINTER 2019</a>
        <br>

        <!--nav links-->
        <nav>
            <a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
            <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
            <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> |
            <a href="CWork.html">Course Work</a> |
            <a href="Ohour.html">Office/Tutorials Times</a> |
            <a href="instructor.html">Instructor</a> |
            <a href="Feedback.html">Anon. Feedback</a>
        </nav>
    </header>
    <br>
    <br>
    <div class="masterWrap">
        <div class="info-container" id="grades" style="border: none;color:white;">Grades for PLACEHOLDER</div>
        <div class="info-container">
                <!--exams-->
            <div class="masterWrap" id="examMark">
                <p id="grades">Exams</p>
                
            </div>
   
            <div class="masterWrap" id="quizMark">
                <!--quizes-->
                <p id="grades">Quizes</p>

            </div>

            <div class="masterWrap" id="assignmentMarks">
                <!--assignents-->
            <p id="grades">Assignments</p>
            </div>
        </div>
    </div>

</body>
<footer>
    <a href="https://www.utsc.utoronto.ca/cms/faculty" target="_blank">UTSC CMS Faculty</a>
    <br>
    Site Designed by Jefferson Li , Muhes Ariya
</footer>
<script src="js/studentsGrades.js"></script>

</html>