<!DOCTYPE html>
<html>
<head>
	<title>Remark Request</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/sendFeedbackandRemark.css">
</head>
<body onload="greyOut()">
		<header>
		<a href="home">CSCB20 WINTER 2019</a>

		
		<br>

		<!--nav links-->
		<nav>
			<a href="https://piazza.com/class/jr7mjhytaij3jc" target="_blank">Piazza</a> |
		    <a href="https://markus.utsc.utoronto.ca/cscb20w19/?locale=en" target="_blank">Markus</a> |
		    <a href="https://q.utoronto.ca/courses/70345" target="_blank">Quercus</a> <br>
		    <a href="CWork">Course Work</a> |
		    <a href="Ohour">Office/Tutorials Times</a> |
		    <a href="instructor">Instructor</a> |
			<a href="logout">Logout From {{ name }}</a>
		</nav>
	</header>
	<br>
	<br>
	<div class="masterWrap">
			<form method="POST" class=block>
			<textarea  onkeyup="greyOut()" id="0"name=0 cols="10" rows="5" placeholder="What do you like about the instructor teaching"></textarea>
			<textarea  onkeyup="greyOut()"id="1"name=1 cols="10" rows="5" placeholder="What do you recommend the instructor to do to improve their teaching?"></textarea>
			<textarea  onkeyup="greyOut()"id="2"name=2 cols="10" rows="5" placeholder="What do you like about the labs?"></textarea>
			<textarea  onkeyup="greyOut()"id="3"name=3 cols="10" rows="5" placeholder="What do you recommend the lab instructors to do to improve their lab teaching?"></textarea>
						
			<select name='instructor' id="instructor">
					{%for name in data%}
					<option value='{{ name[0] }}' >{{name[0]}} - {{name[1]}}</option>
					{%endfor%}
			</select>
			<input id="submitButton"type="Submit" value=Submit>
			</form>
	</div>
	<script type="text/javascript" src="../static/js/feedback.js"></script>
</body>

<footer>
		<a href="https://www.utsc.utoronto.ca/cms/faculty"target="_blank">UTSC CMS Faculty</a>
		<br>
		Site Designed by Jefferson Li , Muhes Ariya
	</footer>
</html>